.regions__row {
  display: grid;
  gap: 40px;
  grid-template-columns: minmax(0, 460px) minmax(280px, 1fr);
}

@media screen and (max-width: 1024px) {
  .regions__row {
    gap: 32px;
    grid-template-columns: minmax(0, 440px) minmax(280px, 1fr);

  }
}

@media screen and (max-width: 768px) {
  .regions__row {
    gap: 28px;
    grid-template-columns: minmax(0, 340px) minmax(280px, 1fr);

  }
}

@media screen and (max-width: 600px) {
  .regions__row {
    gap: 32px;
    grid-template-columns: 1fr;
  }
}
