.traveling {
  max-width: var(--container-m);
  margin: 30px auto 0;
  padding: 0 var(--gap-l);
}

@media screen and (max-width: 1024px) {
  .traveling {
    margin-top: 22px;
  }
}

@media screen and (max-width: 768px) {
  .traveling {
    padding: 0;
  }
}
