.regions {
  display: grid;
  gap: 80px;
  max-width: var(--container-m);
  margin: 92px auto 0;
  padding: 0 var(--gap-l);
}

@media screen and (max-width: 1024px) {
  .regions {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .regions {
    gap: 73px;
    max-width: 768px;
    margin-top: 88px;
    padding: 0 var(--gap-m);
  }
}

@media screen and (max-width: 500px) {
  .regions {
    gap: 50px;
    margin-top: 64px;
    padding: 0;
  }
}
