.regions__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 768px) {
  .regions__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 500px) {
  .regions__title {
    padding: 0 var(--gap-m);
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .regions__title {
    padding: 0 var(--gap-s);
  }
}
