.banner__link {
  position: relative;
  display: block;
}

.banner__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  content: '';
  transition: opacity .3s;
}

@media (hover:hover) {
  .banner__link:hover::after {
    opacity: 0.8;
  }
}
